<a href="https://colab.research.google.com/github/Jatansahu/AMAZON-ML-CHALLENEGE/blob/main/amazon_ml_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df1 = pd.read_csv("/content/drive/MyDrive/PROJECT/AMAZON-ML-CHALLENGE/dataset/train.csv")
df1

,PRODUCT_ID,TITLE,BULLET_POINTS,DESCRIPTION,PRODUCT_TYPE_ID,PRODUCT_LENGTH
0,1925202,ArtzFolio Tulip Flowers Blackout Curtain for D...,[LUXURIOUS & APPEALING: Beautiful custom-made ...,NaN,1650,2125.980000
1,2673191,Marks & Spencer Girls' Pyjama Sets T86_2561C_N...,"[Harry Potter Hedwig Pyjamas (6-16 Yrs),100% c...",NaN,2755,393.700000
2,2765088,PRIKNIK Horn Red Electric Air Horn Compressor ...,"[Loud Dual Tone Trumpet Horn, Compatible With ...","Specifications: Color: Red, Material: Aluminiu...",7537,748.031495
3,1594019,ALISHAH Women's Cotton Ankle Length Leggings C...,[Made By 95%cotton and 5% Lycra which gives yo...,AISHAH Women's Lycra Cotton Ankel Leggings. Br...,2996,787.401574
4,283658,The United Empire Loyalists: A Chronicle of th...,NaN,NaN,6112,598.424000
...,...,...,...,...,...,...
2249693,2422167,Nike Women's As W Ny Df Swsh Hn Kh Bra (CZ7610...,Material : Polyester,NaN,3009,1181.100000
2249694,2766635,"(3PCS) Goose Game Cute Cartoon Enamel Pins, Fu...",[❤ [Inspiration] Inspired by the Untitled Goos...,<p><b>[Brand]: </b>XVIEONR</p> <p><br></p> <p>...,3413,125.984252
2249695,1987786,Kangroo Sweep Movement Printed Wooden Wall Clo...,"[Dial size: 12 inches in diameter,Big, clear r...",Wall Clocks Are Very Attractive In Looks And E...,1574,1200.000000
2249696,1165754,Electro Voice EKX-BRKT15 | Wall Mount Bracket ...,NaN,NaN,592,2900.000000
2249697,1072666,Skyjacker C7360SP Component Box For PN[C7360PK...,"[Component Box For PN[C7360PK],4 in. Lift,Incl...",Skyjacker C7360SP Component Box For PN[C7360PK...,7367,2000.000000

#DATA PREPROCESSING

In [ ]:
df = df1

In [ ]:
df.isna().sum()

PRODUCT_ID               0
TITLE                   12
BULLET_POINTS       837364
DESCRIPTION        1157381
PRODUCT_TYPE_ID          0
PRODUCT_LENGTH           0
dtype: int64

In [ ]:
# droping null values for title
df = df.dropna(subset=['TITLE'])
#bullet_points
# Fill the missing values in the BULLET_POINTS column with "None"
df['BULLET_POINTS'] = df['BULLET_POINTS'].fillna('None')

#dropping description columns
df = df.drop(['DESCRIPTION'], axis=1)

<ipython-input-50-399cb880f071>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BULLET_POINTS'] = df['BULLET_POINTS'].fillna('None')

In [ ]:
df.isna().sum()

PRODUCT_ID         0
TITLE              0
BULLET_POINTS      0
PRODUCT_TYPE_ID    0
PRODUCT_LENGTH     0
dtype: int64

In [ ]:
import nltk
from nltk.tokenize import word_tokenize

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
# import nltk
# from nltk.tokenize import word_tokenize

# Tokenize the title and description columns
df['title_tokens'] = df['TITLE'].apply(word_tokenize)
# df['description_tokens'] = df['DESCRIPTION'].apply(word_tokenize)

# Extract the number of words and characters in each text column
df['title_word_count'] = df['title_tokens'].apply(len)
df['title_char_count'] = df['TITLE'].apply(len)
# df['description_word_count'] = df['description_tokens'].apply(len)
# df['description_char_count'] = df['DESCRIPTION'].apply(len)

# Extract the number of bullet points
df['bullet_point_count'] = df['BULLET_POINTS'].str.count('\n') + 1

# Convert product type ID to categorical variable
df['PRODUCT_TYPE_ID'] = df['PRODUCT_TYPE_ID'].astype('category')

# # Extract the length of the product     #?????????????????????????????????????????????? ye cm mai convert kru?
# df['PRODUCT_LENGTH_cm'] = df['PRODUCT_LENGTH'] * 2.54 # Convert from inches to cm

# Drop the original text columns and any other unnecessary columns
# df = df.drop(columns=['TITLE', 'DESCRIPTION', 'BULLET_POINTS', 'PRODUCT_LENGTH'])
df = df.drop(columns=['TITLE', 'BULLET_POINTS'])

# Save the preprocessed data
df.to_csv('preprocessed_data.csv', index=False)

In [ ]:
df

,PRODUCT_ID,PRODUCT_TYPE_ID,PRODUCT_LENGTH,title_tokens,title_word_count,title_char_count,bullet_point_count
0,1925202,1650,2125.980000,"[ArtzFolio, Tulip, Flowers, Blackout, Curtain,...",37,164,1
1,2673191,2755,393.700000,"[Marks, &, Spencer, Girls, ', Pyjama, Sets, T8...",9,59,1
2,2765088,7537,748.031495,"[PRIKNIK, Horn, Red, Electric, Air, Horn, Comp...",15,97,1
3,1594019,2996,787.401574,"[ALISHAH, Women, 's, Cotton, Ankle, Length, Le...",14,73,1
4,283658,6112,598.424000,"[The, United, Empire, Loyalists, :, A, Chronic...",11,63,1
...,...,...,...,...,...,...,...
2249693,2422167,3009,1181.100000,"[Nike, Women, 's, As, W, Ny, Df, Swsh, Hn, Kh,...",16,73,1
2249694,2766635,3413,125.984252,"[(, 3PCS, ), Goose, Game, Cute, Cartoon, Ename...",22,118,1
2249695,1987786,1574,1200.000000,"[Kangroo, Sweep, Movement, Printed, Wooden, Wa...",15,72,1
2249696,1165754,592,2900.000000,"[Electro, Voice, EKX-BRKT15, |, Wall, Mount, B...",11,70,1
2249697,1072666,7367,2000.000000,"[Skyjacker, C7360SP, Component, Box, For, PN, ...",25,117,1